/* Gaya untuk tombol link */
.menu-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: #0056b3;
}

/* Gaya untuk menu navigasi */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}
